@import 'variables.scss';
@import 'global/fonts.scss';
@import 'global/global.scss';
@import 'extensions/bulma.scss';
@import 'extensions/timeline.scss';
@import 'blocks/index.scss';
@import 'blocks/supporter.scss';
@import 'blocks/timeline.scss';


.title:not(.is-spaced) + .subtitle
{
    margin-top: -.5rem;
}
.button--blue
{
    color: $c_white;
    border: none;
    background-color: $c_blue;
    &:hover
    {
        color: $c_white;
        background-color: $c_dblue;
    }
}
.button--white-border
{
    color: $c_white;
    border: 1px solid $c_white;
    background-color: transparent;
    &:hover
    {
        color: $c_blue;
        border: 1px solid $c_white;
        background-color: $c_white;
    }
}
.button--green
{
    color: $c_white;
    border: 0;
    background-color: $c_lgreen;
    &:hover
    {
        color: $c_white;
        background-color: $c_dgreen;
    }
}

.fw
{
    flex-wrap: wrap;
}
.columns--fw
{
    flex-wrap: wrap;
    justify-content: center;
}

pre
{
    margin: 0;
    margin-bottom: 35px;
    padding: 1em 1.25em;

    white-space: pre-wrap;
    word-wrap: break-word;

    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
a
{
    color: $c_lgreen;
    &:hover
    {
        color: $c_dgreen;
    }
}

.subtitle--mb:not(:last-child)
{
    margin-bottom: .5rem;
}

@media (max-width: 768px)
{
    pre
    {
        margin-right: -24px;
        margin-left: -24px;

        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }
}
