.hero.page-promo
{
    font-size: 40px;

    height: 692px;

    color: $c_white;
    background-color: $c_blue;
    background-image: url('./../img/bg-book.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &--boy
    {
        height: auto;

        background-image: url('./../img/bg-boy.jpg');
    }
    &--girl
    {
        height: auto;
        min-height: 370px;

        background-image: url('./../img/bg-girl.jpg');
    }
}


.button__join
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.2;

    display: inline-block;

    min-width: 128px;
    height: auto;
    padding: 10px;

    color: $c_white;
    border: 0;
    background-color: $c_lgreen;
    &:hover
    {
        color: $c_white;
        background-color: $c_dgreen;
    }
}

.icon--on-white
{
    margin-bottom: 35px;

    color: $c_blue;
    & i
    {
        font-size: 42px;
    }
}
.icon--on-blue
{
    margin-bottom: 35px;

    color: $c_white;
    & i
    {
        font-size: 42px;
    }
}
.main-nav
{
    box-sizing: border-box;
    min-height: 78px;
    padding: 20px 15px;

    background-color: rgb(72, 200, 254);
    box-shadow: 0 0 0 0 transparent;
}
.hero-head .main-nav
{
    box-sizing: border-box;
    height: 78px;
    padding: 20px 15px;

    background-color: rgba(72, 200, 254, .8);
    box-shadow: 0 0 0 0 transparent;
}

.main-nav a.nav-item:not(.button)
{
    display: flex;

    color: $c_white;
}
.nav-menu.nav-right .nav-item__btn
{
    margin-left: 20px;
}
.nav-menu.nav-right
{
    display: flex;

    align-items: center;
}
.nav-item
{
    padding: .35rem .75rem;
}
.nav > .container
{
    min-height: auto;
}
.title
{
    &__main-promo
    {
        font-family: 'Open Sans Extra Bold';
        font-size: 52px;
        font-weight: 700;

        position: relative;

        max-width: 480px;
        margin: 0 auto;

        color: $c_white;
        &::after
        {
            position: absolute;
            right: 0;
            bottom: -5px;

            display: block;

            width: 293px;
            height: 8px;

            content: '';

            background-image: url('./../img/underline.svg');
            background-repeat: no-repeat;
        }
    }
    &__promo
    {
        font-family: 'Open Sans Extra Bold';
        font-size: 52px;
        line-height: 54px;

        color: $c_white;
    }
    &--dark
    {
        font-size: 40px;

        margin-bottom: 65px;

        color: $c_gray;
        &.title:not(:last-child)
        {
            margin-bottom: 1.5em;
        }
    }
    &--light
    {
        font-size: 40px;

        margin-bottom: 65px;

        color: $c_white;
        &.title:not(:last-child)
        {
            margin-bottom: 1.5em;
        }
    }
}
.subtitle
{
    &__promo
    {
        font-family: 'Open Sans Bold';
        font-size: 40px;
        font-style: italic;
        line-height: 1;

        color: $c_white;
    }
    &__quote
    {
        font-family: 'Open Sans Bold';
        font-size: 40px;
        font-style: italic;

        position: relative;

        display: inline-block;

        box-sizing: border-box;
        max-width: 616px;
        padding: 0 30px;

        color: $c_blue;
        &::before
        {
            font-size: 50px;

            position: absolute;
            top: 0;
            left: 0;

            display: block;

            content: '"';
        }
        &::after
        {
            position: relative;
            right: -40px;
            bottom: 0;

            display: inline-block;

            content: '"';
        }
    }
}
.about-project
{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    &--white
    {
        color: $c_gray;
        background-color: $c_white;
    }
    &--blue
    {
        color: $c_white;
        background-color: $c_blue;
    }
    &__item
    {
        padding: 0 5%;
    }
    &__subtitle
    {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;

        margin-bottom: 20px;
    }
    & p
    {
        font-size: 12px;
    }
}





.page-footer
{
    padding: 3rem 1.5rem 3rem;

    background-color: #f8f8f8;
}
.page__links
{
    line-height: 22px;

    display: inline-block;

    color: $c_lgreen;
    border-bottom: 1px solid $c_lgreen;
    &:hover
    {
        color: $c_dgreen;
        border-color: $c_dgreen;
    }
}


@media (max-width: 768px)
{
    .title
    {
        &__main-promo
        {
            font-size: 34px;
            &::after
            {
                right: auto;
                bottom: -8px;
                left: 0;

                width: 200px;

                background-size: contain;
            }
            &--left
            {
                width: 276px;

                text-align: left;
            }
        }
        &--dark
        {
            font-size: 28px;
        }
        &--light
        {
            font-size: 28px;
        }
    }
    .nav-menu.nav-left
    {
        display: flex;

        align-items: center;
    }

    .button__join
    {
        padding: 5px;
    }

    .hero.page-promo
    {
        height: auto;

        background-position: 80% center;
        &--boy
        {
            background-position: center center;
        }
        &--girl
        {
            background-position: center center;
        }
    }


    .nav-menu.nav-right
    {
        position: static;

        display: flex;

        background-color: transparent;
        box-shadow: none;

        align-items: center;
    }
    .nav-menu.nav-right .nav-item
    {
        border-top: 0;
    }
    .nav-menu.nav-right .nav-item__btn
    {
        margin-left: 0;

        border: 1px solid;
    }

    .button__join
    {
        font-size: 22px;

        min-width: 106px;
    }

    .about-project
    {
        padding-right: 0;
        padding-left: 0;
    }
}
